<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Form đăng ký </title>
  <link rel="stylesheet" href="{{ url_for('static', filename='asset/register.css') }}">
</head>
<body>
  <div class="container">
    <!-- Title section -->
    <div class="title">Đăng ký</div>
    <div class="content">
      <!-- Registration form -->
      <form action="/register" method="post">
        <div class="user-details">
          <!-- Input for Full Name -->
          <div class="input-box">
            <span class="details">Họ tên</span>
            <input type="text" name="rname" placeholder="Điền họ và tên" value="{{ rname }}" required>
          </div>
          <!-- Input for Username -->
          <div class="input-box">
            <span class="details">Tài khoản</span>
            <input type="text" name="name" placeholder="Tên tài khoản" value="{{ name }}" required>
          </div>
          <!-- Input for Email -->
          <div class="input-box">
            <span class="details">Email</span>
            <input type="text" name="email" placeholder="Email" value="{{ email }}" required>
          </div>
          <!-- Input for Phone Number -->
          <div class="input-box">
            <span class="details">Số điện thoại</span>
            <input type="text" name="phone" placeholder="Nhập số điện thoại" value="{{ phone }}" required>
          </div>
          <!-- Input for Password -->
          <div class="input-box">
            <span class="details">Mật khẩu</span>
            <input type="password" name="password" placeholder="Nhập mật khẩu" required>
          </div>
          <!-- Input for Confirm Password -->
          <div class="input-box">
            <span class="details">Xác nhận mật khẩu</span>
            <input type="password" name="confirm_password" placeholder="Nhập lại mật khẩu" required>
          </div>
        </div>
        <div class="gender-details">
          <!-- Radio buttons for gender selection -->
          <input type="radio" name="gender" id="dot-1" required>
          <input type="radio" name="gender" id="dot-2">
          <input type="radio" name="gender" id="dot-3">
          <span class="gender-title">Giới tính</span>
          <div class="category">
            <!-- Label for Male -->
            <label for="dot-1">
              <span class="dot one"></span>
              <span class="gender">Nam</span>
            </label>
            <!-- Label for Female -->
            <label for="dot-2">
              <span class="dot two"></span>
              <span class="gender">Nữ</span>
            </label>
            <!-- Label for Prefer not to say -->
            <label for="dot-3">
              <span class="dot three"></span>
              <span class="gender">Khác</span>
            </label>
          </div>
          <div>
            <label for="studytype">Phương pháp học yêu thích:</label>
            <select name="studytype" id="studytype" required>
                <option value="" disabled selected>Chọn phương pháp học bạn thích</option>
                <option value="Formula">Tôi thích kiểu học bằng những công thức toán hơn</option>
                <option value="Víualize">Tôi thích kiểu học minh họa bằng hình ảnh hơn</option>
            </select> 
          </div>
        </div>
        <!-- Submit button -->
        <div class="button">
          <input type="submit" value="Đăng ký">
        </div>
      </form>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
      {% endwith %}
    </div>
  </div>
</body>
</html>