<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tài Khoản Cá Nhân</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script>
        window.MathJax = {
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']],
                displayMath: [['$$', '$$']]
            },
            svg: { fontCache: 'global' }
        };
    </script>
</head>
<body>
    <h2>Chào mừng, {{ user_email }}</h2>
    <p>Đây là trang tài khoản cá nhân của bạn.</p>
    <a href="{{ url_for('logout') }}">Đăng xuất</a>
    <form action="/account" method="post">
        {% for tailieu in tai_lieus.values() %}
            <button type="submit" name="{{ 'tailieu_' + loop.index0|string }}" value="{{'activated_' + loop.index0|string}}">{{ tailieu.Subject | safe }}</button>
        {% endfor %}
    </form>
</body>
</html>
